<!-- <h1>  That is my first home page </h1> -->

<br/>

<div class="jumbotron">
  <h1 class="display-4">Check SAP Status: 
	{{ stock}}  <br/></h1> <br/>
	<strong> Command used: </strong> {{ stock}}  <br/>
	<strong> Output: </strong> <pre>{{ posted_stuff }}  </pre><br/>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="about.html" role="button">Learn more about me</a>
  </p>
</div>


<p>
<br/>


